.detailContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    min-height: 100vh;
    margin-bottom: 30px;
    /* margin-top: -120px; */

}

.detailTitle{
    font-size: 3rem;
    font-weight: bold;
    margin: 2rem 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.backHome :hover{
    cursor: pointer;
    background-color: #333;
}