.episodesContainer{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 100%;
    min-height: 100vh;
}

.episodeCard{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(10px, 380px));
    flex-wrap: wrap;
    margin: 1rem;
    width: 80%;
    max-width: 1200px;
    /* min-height: 100vh; */
    justify-content: center;

}
