.homeContainer {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  width: 80%;
  max-width: 1200px;
}

.cardsContainer{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  margin-top: 1rem;
  width: 100%;
  grid-gap: 10px;
}

.cardContainer{
  /* max-height: 100%; */
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0,0,0,0.5);
}

.card {
  padding: 10px;
}

.name {
  color: #0DCAF0;
  font-size: 20px;
  cursor: pointer;
  text-align: center;
  width: 97%;
}

.cursor img {
  border-radius: 10px;
  cursor: pointer;
  width: 100%;
}

.homeText{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 24px;
  margin-left: 1rem;
  text-align: justify;
}

.homeImage{
  border-radius: 20px;
}