.navContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    background-color: #333;
    overflow: hidden;
    align-items: center;
    align-content: center;
}

.leftNav {
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.rightNav nav {
    display: flex;
    justify-content: flex-start;
    list-style-type: none;
}

.link {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}


.link:hover {
    background-color: #ddd;
    color: black;
}

@media only screen and (max-width: 600px) {

    .navContainer {

        display: flex;
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        align-items: center;
        flex-direction: column;

    }
}